
<h2>Product Sales</h2>
<img src="~/Models/Images/pexels-craig-dennis-205421.jpg" width="200" height="200"/>
<img src="~/Models/Images/pexels-monoar-rahman-109371.jpg" width="200" height="200"/>
<img src="~/Models/Images/pexels-veeterzy-303383.jpg" width="200" height="200"/>


